.menuContainer {
	height: 10vh;
	position: fixed;
	background: var(--color-orange);
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 30;
	border-top: 1px solid var(--color-grey);
	border-bottom: 1px solid var(--color-grey);
	box-shadow: 0px 0px 10px var(--color-grey);
	display: flex;
	flex-direction: row;
	justify-content:flex-end
}

.logoImg {
	height: 100%;
	width: auto;
	/* position: absolute; */
	/* right: 0px; */
}